#heading{
    text-align: center;
    color:brown;
    font-size: 20vw ;
    font-family: Arial, Helvetica, sans-serif;

}

    

#linkcode {
    font-size: 20px;
    color: darkolivegreen;
    background-color: darkorange;
}